@media only screen and (max-width: 1100px) {
  #timetable {
    transform: scale(0.65) !important;
    margin-bottom: -1rem;
    margin-top: 0;
  }
}

.line-event {
  width: 27.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.35);
}

.eventName {
  color: #fff;
  text-align: center;
  font-family: Ubuntu;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.42px;
}

.eventCaption {
  color: #fff;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.24px;
}

.eventSpeech {
  color: #fff;
  font-family: Ubuntu;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.eventSpeechTime {
  color: #fff;
  font-family: Ubuntu;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
