input:focus + label {
  /* color: white !important; */
  color: #ca7892 !important;
  cursor: text !important;
}

input:focus {
  cursor: text !important;
}

label,
input {
  transition: all ease 300ms;
}

#main-wrapper-textbox {
  transition: border-color ease 300ms;
  border: 2px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
}

#main-wrapper-textbox:focus-within {
  transition: all ease 300ms;
  border: 2px solid var(--Secondary-200, #b9b3e5) !important;
}

/* There is a value inside
input:not(:placeholder-shown) + label {
  color: #000 !important;
} */

input::placeholder {
  font-weight: 400;
}

select {
  appearance: none;
  -webkit-appearance: none;
  display: none;
}

/* #dropdown-pickuploc {
  overflow-y: hidden;
}

#dropdown-pickuploc {
  /* transform: translateY(-100%);
  z-index: -1;
  display: flex;
} */

.options-hidden {
  display: none;
}

.select-items div {
  width: 100%;
  color: #ffffff;
  padding-bottom: 4px;
  border: 2px solid transparent;
  border-color: transparent transparent rgba(185, 179, 229, 0.15) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items div:hover {
}

.select-items {
  top: calc(100% - 3.5rem);
  padding-top: 4rem;
}

.border-none {
  border-style: none !important;
}
